pip==20.2
bumpversion==0.6.0
wheel==0.34.2
watchdog==0.10.3
flake8==3.8.3
coverage==5.2.1
tox==3.18.1
Sphinx==3.0.3
numpy==1.18.3
pytest==5.4.1
pytest-runner==5.2
h5py_like==0.6.0
h5py==2.10.0
maturin==0.8.1
