# pip==21.2.4
bumpversion==0.6.0
wheel==0.37.1
watchdog==2.1.9
flake8==4.0.1
coverage==6.4.1
tox==3.25.1
Sphinx==5.0.2
numpy==1.21.2
pytest==6.2.5
pytest-runner==5.3.1
h5py_like==0.6.0
h5py==3.4.0
maturin==0.12.6
