# pip==21.2.4
bumpversion==0.6.0
wheel==0.37.1
watchdog==2.1.8
flake8==4.0.1
coverage==6.4
tox==3.25.0
Sphinx==5.0.0
numpy==1.22.4
pytest==7.1.2
pytest-runner==6.0.0
h5py_like==0.6.0
h5py==3.7.0
maturin==0.12.6
